<h2>Listagem de Produtos</h2>
<ul>
  <li *ngFor="let produto of lista; let i = index">
    {{ i+1 }}
    <ul>
      <li>Produto: {{ produto.nomeProduto }}</li>
      <li>Valor: {{ produto.valor }}</li>
      <li>Descrição: {{ produto.descricao }}</li>
    </ul>
    <hr>
  </li>
</ul>
<h3>Adicione um novo produto:</h3>
<form>
  <label>
    Produto:
    <input type="text" required="true" #produto>
  </label><br><br>
  <label>
    Valor do produto:
    <input type="number" required="true" #valor>
  </label><br><br>
  <label>
    Descrição:
    <input type="text" required="true" #descricao>
  </label><br><br>

  <button (click)="adicionarProduto(produto.value, valor.value, descricao.value)">Adicionar
    produto</button>
</form>
